<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Bob's Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>

	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Bob's Burgers!</h1>
				<h3>The greatest burger joint on the East Coast!</h3>
				<hr>
			</div>
			<div class="row">
				<div class="col-lg-6">
					{{{ body }}}
				</div>
				<div class="col-lg-6">
					<img src="" class= "rounded mx-auto d-block" height="500px" id="Bob">

				</div>
			</div>
		</div>
	</body>

</html>